<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <title>{{ page.title }}</title>
	    <link rel="stylesheet" href="/css/foundation.min.css" />
			<link rel="stylesheet" href="/css/main.css">
			{% include head.html %}
	</head>
	<body>
		<!-- Fork Ribbon -->
		<a href="https://github.com/ixnixnixn/Tlamp"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" class="hide-for-small-only"></a>
		
		<a href="https://github.com/ixnixnixn/Tlamp" class="show-for-small-only ribbon">Fork me on Github!</a>
		
		<!-- Content -->
		<div class="row">
			<div class="large-12 columns">
				
				{{ content }}
				
			</div>
		</div>

		{% include script.html %}
	</body>
	
</html>